//$pickerSize: calc(32px + 1vw);
$pickerSize: 3vw;
//$sloganSize: calc(60px + 1vw);
$sloganSize: 6vw;
$linkSize: 1.25vw;
//$linkSize: max(1.25vw, 24px);

$mobileSloganSize: 7vw;
$mobilePickerSize: 5vw;
$mobileLinkSize: 3.6vw;

$oneCol: calc(100vw / 12);
$oneRow: calc(100vh / 7);